player-connection-mode=Connect
player-connection-guid=3571294049
player-connection-debug=1
player-connection-project-name=School project
player-connection-wait-timeout=-1
player-connection-ip=10.0.0.194
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=680ff7ac872b48fea99953f2b693ca8c
